@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Kumbh Sans', sans-serif;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 15px;
   background-color: #121417;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
